@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sora", sans-serif;
  background-color: #F6F6F6;
}

.banner-nav .menu.menu-sm {
  background-color: #9538E2;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
}

.header-nav .active {
  text-decoration: underline;
  font-weight: 700;
}

.tabs-area .active {
  color: #FFF;
  background: #9538E2;
  font-weight: 800;
  box-shadow: 0px 4px 50px 0px #0B0B0B26 inset;
}

.dashboard-area .react-tabs__tab {
  border: 1px solid #FFFFFF;
  padding: 14px 64px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  border-radius: 32px;
  color: #FFFFFF;
  margin: 0 12px;
}
.dashboard-area .react-tabs__tab--selected {
  background-color: #FFFFFF;
  color: #9538E2;
  font-weight: 800;
}

.dashboard-area .react-tabs__tab--selected::after {
  display: none;
}

@media screen and (max-width: 640px) {
  .dashboard-area .react-tabs__tab {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 32px;
    margin: 0 8px;
  }
}